
publish/

Debug.win32/
runtime/
frameworks/runtime-src/proj.win32/Backup/
frameworks/runtime-src/proj.win32/FootballXLua.v12.suo
frameworks/runtime-src/proj.win32/UpgradeLog.htm


#Android
frameworks/cocos2d-x/cocos/platform/android/java/bin/
frameworks/cocos2d-x/cocos/platform/android/java/gen/
frameworks/cocos2d-x/cocos/platform/android/java/local.properties
frameworks/runtime-src/proj.android/assets/
frameworks/runtime-src/proj.android/bin/
frameworks/runtime-src/proj.android/gen/
frameworks/runtime-src/proj.android/local.properties
frameworks/runtime-src/proj.android/obj

#XCode
frameworks/cocos2d-x/build/build/
frameworks/runtime-src/proj.ios_mac/build/
frameworks/cocos2d-x/cocos/scripting/lua-bindings/proj.ios_mac/build/
prebuilt/


# Exclude temp nibs and swap files
*~.nib
*.swp

# Exclude OS X folder attributes
.DS_Store

# Exclude user-specific XCode 3 and 4 files
*.mode1
*.mode1v3
*.mode2v3
*.perspective
*.perspectivev3
*.pbxuser
*.xcworkspace
xcuserdata